<!DOCTYPE html>
<html >
    <head>
    <title>Titanic-2.0</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <form action="{{ url_for('predict')}}"method="post">
                <div align="center">
                    <h1>Do you have what it takes to survive the Titanic?</h1>
                    <center><h3>Input appropriate info and see for yourself:</h3></center>
                    <hr style="color: #808080;">
                    <marquee><h1>{{ prediction_text }}</h1><div class="tenor-gif-embed" data-postid="17900990" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/negros-ataud-ataud-meme-negros-dance-coffin-squad-gif-17900990">Negros Ataud Ataud Meme Negros Sticker</a>from <a href="https://tenor.com/search/negros+ataud-stickers">Negros Ataud Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></marquee>
                    <hr>
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <p>Predictors:</p>
                      <select name="Model">
                        <optgroup>
                          <option value="">Models (accuracy)</option>
                          <option value="logreg">Logistic Regression (acc=80.36%)</option>
                          <option value="knn">K Nearest Neighbors (acc=84.74%)</option>
                          <option value="svc">Support Vector Machines (acc=78.23%)</option>
                          <option value="decision">Decision Trees (acc=86.76%)</option>
                          <option value="random_forest">Random Forests (acc=86.76%)</option>
                          <option value="gaussian">Gaussian Naive Bayes (acc=72.28%)</option>
                        </optgroup>
                      </select>
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <div>
                        <p>Select Passenger Class:</p>
                        <div><input type="radio" name="Pclass" value="1" id="first"><label for="first" class="radio"><span>First</span></label></div>
                        <div><input type="radio" name="Pclass" value="2" id="second"><label for="second" class="radio"><span>Second</span></label></div>
                        <div><input type="radio" name="Pclass" value="3" id="third"><label for="third" class="radio"><span>Third</span></label></div>
                    </div>
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <p>Select Sex:</p>
                    <div class="question-answer">
                        <div><input type="radio" name="Sex" value="0" id="sex1"><label for="sex1" class="radio"><span>Male</span></label></div>
                        <div><input type="radio" name="Sex" value="1" id="sex2"><label for="sex2" class="radio"><span>Female</span></label></div>
                    </div>
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <p>Input your age:</p>
                    <input type="number" name="Age" placeholder="Type your age here" required="required" maxlength="2" />
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <p>Input the amount you paid for the ticket in USD:</p>
                    <input type="number" name="Fare" placeholder="Type your fare here" required="required" maxlength="2" />
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <div>
                        <p>Select from where did you embark:</p>
                        <div><input type="radio" name="Embarked" value="1" id="C"><label for="C" class="radio"><span>Cherbourg</span></label></div>
                        <div><input type="radio" name="Embarked" value="0" id="S"><label for="S" class="radio"><span>Southampton</span></label></div>
                        <div><input type="radio" name="Embarked" value="2" id="Q"><label for="Q" class="radio"><span>Queenstown</span></label></div>
                    </div>
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <p>Input your name:</p>
                    <div>
                        <select name="Title">
                        <optgroup>
                          <option value="">Titles</option>
                          <option value="1">Mr.</option>
                          <option value="2">Miss.</option>
                          <option value="3">Mrs.</option>
                          <option value="4">Master</option>
                          <option value="5">Lady</option>
                          <option value="5">Countess</option>
                          <option value="5">Capt.</option>
                          <option value="5">Col.</option>
                          <option value="5">Don.</option>
                          <option value="5">Dr.</option>
                          <option value="5">Major</option>
                          <option value="5">Rev</option>
                          <option value="5">Sir.</option>
                          <option value="5">Master</option>
                          <option value="5">Other</option>
                        </optgroup>
                        </select>
                        <input type="text" placeholder="Type your name here">
                    </div>
                </div>
                <div align="center" style="border: 4px solid #808080; padding: 10px; margin: 10px;">
                    <div>
                        <p>Are you alone or with a family?</p>
                        <div><input type="radio" name="IsAlone" value="1" id="1"><label for="1" class="radio"><span>Alone</span></label></div>
                        <div><input type="radio" name="IsAlone" value="0" id="0"><label for="0" class="radio"><span>Not Alone</span></label></div>
                    </div>
                </div>
                <br>
                <div align="center">
                <button type="submit" align="center" style="height: 55px; width: 200px"><h3>Predict</h3></button>
                </div>
            </form>
            <br>
            <br>

        </div>
    </body>
</html>
<!-- Pclass, Sex, Age, Fare, Embarked, Title[Name], IsAlone[Parch, Sibsp]
    Pclass   Sex   Age Fare   Embarked  Title   Name     IsAlone
0   first    male  21  322        C             dsdSD       1
